body, html {
    height: 100%;
}

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//images/wildfire.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 82%;
    margin-top: -310px;
    position: relative;
}

.hero-txt {
    color: white;
    position: absolute;
    text-align: justify;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 35%;
}

.cta {
    border: 1px ridge #FFF;
}

.cta:hover {
    border: 2px inset #999;
}