html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.carousel-inner .textbox {
  height: 4em;
  text-align: center;
}
.jumbotron-fluid {
  background-image: url('../images/wildfire.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  height: 78.5vh;
  width: 100%;
}
.jumbotron-fluid .jumbo-text {
  position: absolute;
  bottom: 250px;
  left: 5rem;
  text-align: left;
  width: 37.5%;
}
