// Vars and Mixins
@import './variables';

html, body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
}

// Components
@import './components/header';
@import './components/carousel';
@import './components/jumbotron';