// Vars and Mixins
@import 'variables';

// Components
@import '../src/less/components/header';
@import '../less/components/jumbotron';
@import '../src/less/components/footer';

html, body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.slider {
    padding-bottom: 10px;
    padding-right: 4em;
    text-align: center;
}