// Vars and Mixins
@import 'variables';

// Components
@import '../src/less/components/header';
@import '../src/less/components/footer';

html, body {
    margin: 0 auto;
    padding: 0;
}

.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1483968049578-867b9ad94034?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
    color: #FFF;
    height: 82.5vh;
}
