html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
}
nav {
  margin: 0 auto;
}
.carousel-inner .textbox {
  height: 4em;
  text-align: center;
}
.jumbotron {
  background-image: url('../images/wildfire.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  height: 78.5vh;
  width: 100%;
}
.jumbotron h1 {
  font-family: 'Prompt', sans-serif;
}
.jumbotron .lead {
  text-align: left;
  width: 42.5%;
}
