.jumbotron {
    background-image: url('../images/wildfire.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    height: 78.5vh;
    width:100%;

    h1 {
        font-family: 'Prompt', sans-serif;
    }

    .lead {
        text-align: left;
        width: 42.5%;
    }
}