.jumbotron-fluid {
    background-image: url('../images/wildfire.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    height: 78.5vh;
    width: 100%;
    
    .jumbo-text {
        position: absolute;
        bottom: 250px;
        left: 5rem;
        text-align: justify;
        width: 37.5%;
    }
}