.jumbotron {
    background-image: url('../../public/images/wildfire.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    height: 75vh;
    width: 100%;

    .jumbo-text {
        position: absolute;
        top: 15em;
        left: 5rem;
        text-align: left;
        width: 37.5%;

        h1 {
            font-weight: bold;
        }

        p {
            font-weight: bold;
        }
    }
}